.box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.box.right {
  left: 100vw;
  opacity: 0;
}

.box.center {
  left: 12vw;
}

.box.left {
  left: -100vw;
  opacity: 0;
}

.boxes-wrapper {
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
}
