/* basic appearance */
.box {
  width: 100vw;
  height: 100px;
  color: black;
  font-size: 50px;
  border: solid black;
  box-sizing: border-box;
  transition: 1s;
  transition-timing-function: ease;
  position: absolute;
}

.app {
  background: lightgoldenrodyellow;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
