/* basic appearance */
.box {
  width: 76vw;
  height: 100px;
  color: black;
  font-size: 50px;
  /* border: solid black; */
  box-sizing: border-box;
  transition: all ease 1s;
  position: absolute;
  z-index: 1;
}

.app {
  background: lightgoldenrodyellow;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
