.button {
  height: 100px;
  width: 100px;
  margin: 10px;
  position: absolute;
  bottom: 0;
  background: yellow;
  color: black;
  font-size: 30px;
}

.buttons-wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 1001;
}
.buttons-wrapper button {
  height: 100px;
  width: 100px;
  font-size: 40px;
}
